body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #5d5d5d;
}

.navbar {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.navbar-brand{
  font-size: 30px;
  letter-spacing: -1px;
  font-family:"Nunito", sans-serif;
  color:gray !important;
}
.content {
  margin-top: 100px;
}

input, .btn {
  background-color: transparent !important;
  border-radius: 0px !important;
  border-color: #e8e8e8 !important;
}

h1 {
  font-weight: 300;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

#movie-title-search {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-left:none;
  border-right: none;
  border-top: none;
  font-size: 25px;
  padding-left: 0px;
}
#movie-title-search::placeholder{
  color: #c3c3c3
}
#find-movie{
  font-family: "Roboto", sans-serif;
  border-right: none;
  border-top: none;
  font-size: 17px;
}

.movie-info, .type-movie, .no-results {
  display: none;
  margin-top: 50px;
}

.movie-poster {
  margin-top: 50px;
  float: right;
}

.movie-title{
  font-weight:300;
  font-size: 31px;
  margin-bottom: 5px;
}

.movie-year{
  font-size: 17px;
}

footer {
  font-size: 12px;
  text-transform: uppercase;
  color: gray;
}