body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #5d5d5d;
}

.navbar {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.navbar-brand{
  font-size: 30px;
  letter-spacing: -1px;
  font-family:"Nunito", sans-serif;
  color:gray !important;
}
.content {
  margin-top: 100px;
}

input, .btn {
  background-color: transparent !important;
  border-radius: 0px !important;
  border-color: #e8e8e8 !important;
}

h1 {
  font-weight: 300;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}
h2{
  font-weight: 300;
  color:#c3c3c3;
}
.no-pl{
  padding-left: 0px;
}
#movie-title-search {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-left:none;
  border-right: none;
  border-top: none;
  font-size: 20px;
  padding-left: 0px;
}
#movie-title-search:active, #movie-title-search:focus{
  border-bottom-color: #dadada !important;
}
#movie-title-search::placeholder{
  color: #c3c3c3
}
#find-movie{
  background: #e8e8e8 !important;
  font-family: "Roboto", sans-serif;
  border-right: none;
  border-top: none;
  font-size: 17px;
  transition: 0.3s;
}

#find-movie:hover{
  background: white !important;
  cursor: pointer;
  transition: 0.3s;
}

.movie-info, .type-movie, .no-results, .results-div {
  display: none;
  margin-top: 50px;
}
.movie-slider{
  margin-top: 50px;
  padding: 20px;
}
.navigation{
  float: right;
}
hr{
  opacity:0.5;
}
.movie-poster {
  margin-top: 50px;
  float: right;
}

.movie-title{
  font-weight:300;
  font-size: 31px;
  margin-bottom: 15px;
}

.movie-item{
  list-style-type: none;
  display: block;
}
.value-title{
  font-size: 13px;
  color: #b8b8b8;
}

.movie-year{
  font-size: 17px;
}

footer {
  margin-top: 100px;
  font-size: 12px;
  text-transform: uppercase;
  color: gray;
}