body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #5d5d5d;
}

content {
  margin-top: 100px;
}

.navbar {
  background-color: #fdfdfd;
  border-bottom: solid 1px #f0f0f0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  border: solid 1px #dedede;
  border-radius: 3px;
  padding: 2px 10px
}

#movie-title-search, #find-movie {
  border-radius: 0px !important;
  border-color: #e8e8e8 !important;
  font-size: 14px;
}

.content {

}

h1 {
  font-weight: 300;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  color: #c3c3c3;
}

.no-pl {
  padding-left: 0px;
}

.badge-default {
  background-color: transparent;
  border: solid 1px #dedede;
  color: gray;
  font-size: 11px;
  top: -2px;
  position: relative;
  left: 3px;
}

.open-details, .add-to-list {
  float: right;
  border: solid 1px #e2e2e2;
  color: gray;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
}

.add-to-list {
  margin-right: 5px;
}

.open-details:hover, .add-to-list:hover {
  background-color: #cacaca;
  text-decoration: none;
  color: white;
}

.sidebar-movies {
  margin: 15px 0px 0px 0px;
  padding: 0px;
}

.sidebar-movie-item {
  font-size: 14px;
  list-style-type: none;
  border-bottom: solid 1px #f0f0f0;
  padding: 5px 0px;
  transition: 0.3s;
}
.si-i{
  color: #b2b2b2;
  top: -1px;
  position: relative;
  padding-right: 5px;
}
.sidebar-movie-item:hover {
  cursor: pointer;
  padding-left: 5px;
  background-color: #eeeeee;
  transition: 0.3s;
}

.clear-sidebar-movie-list {
  display: none;
  margin-top: 15px;
}
.clear-sidebar-movie-list a{
  font-size: 13px;
}
.sidebar-no-movies {
  display: none;
  margin-top: 15px;
}

.no-pr {
  padding-right: 0px;
}

#movie-title-search {
  font-family: "Montserrat", sans-serif;
  width: 217px;
  border-color: #dedede;
}

#movie-title-search:active, #movie-title-search:focus {
  border-bottom-color: #dadada !important;
}

#movie-title-search::placeholder {
  color: #c3c3c3
}

#find-movie {
  color: black;
  border: solid 1px #dedede;
  background: #fff !important;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}

#find-movie:hover, #find-movie:focus, #find-movie:active {
  box-shadow: none;
  border: solid 1px #424242;
}

.type-movie {
  display: none;
  margin-top: 50px;
}

hr {
  opacity: 0.5;
}

.sidebar-movie-info-loading {
  padding: 15px 0px 0px 0px;
  display: none;
}

.sidebar-movie-list {
  padding: 15px 0px 0px 0px;
}

.middle-movie-list {
  padding: 15px 0px 0px 0px;
  padding: 0px 15px;
  border-left: solid 1px #f0f0f0;
  border-right: solid 1px #f0f0f0;
  height: 100%;
  position: relative;
}

.movie-info {
  padding: 15px 0px 0px 0px;
  height: 100%;
  outline: none;
  position: fixed;
  position: relative;
  overflow-y: visible;
}

.movie-poster {
  margin-top: 0px;
  margin-bottom: 15px;
  float: right;
}

.no-movie-header {
  text-align: center;
  font-size: 23px;
  color: #a0a0a0;
}

.no-movie-header i {
  padding: 65px 0px 30px 0px;
  color: #e8e8e8;
  display: block
}

.movie-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Montserrat";
}

.notification {
  display: none;
  position: absolute;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  padding: 10px;
  z-index: 10;
  background-color: rgba(117, 119, 121, 0.62);
  color: white;
}

.search-movie-list {
  clear: both;
  margin: 0px;
  padding: 15px 0px 0px 0px;
  overflow: hidden;
}

.search-movie-list li:hover {
  *background-color: #c3c3c3;
}

.movie-item {
  list-style-type: none;
  display: block;
  width: 100%;
  background-color: white;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  float: left;
  border-bottom: solid 1px #f0f0f0;
  padding-bottom: 15px;
}

.movie-item h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight:600;
}

.movie-item h2 {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  float: left;
}

.search-list-poster {
  float: left;
  width: 60px;
  margin-right: 15px;
}

.value-title {
  font-size: 14px;
  color: #b8b8b8;
  font-family: "Roboto Condensed";
}

.movie-year {
  font-size: 13px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
  color: #c5c5c5;
  padding: 5px;
}

footer {
  border-top: solid 1px #f9f9f9;
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: gray;
}